
ul{
    text-align:left;
    color: rgb(192, 238, 211);
}
  body{
      background-color:rgb(29, 101, 119);
  
  }
h3{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(224, 176, 15);
}
#foto {
height: 200px;
}
h4{bottom:15px 35px;
background-color: lightgoldenrodyellow;
}