
*{
    padding: auto;
    margin: auto;
}
ul{
    text-align: center;
    color: rgb(166, 228, 125);
    list-style: none;
}
  
  
p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(224, 176, 15);
}
.git{
height: 75px;
margin-top: 125px;
margin-right: 250px;
}
.linkedin{
    height: 70px;
    margin-top: 100px;
    margin-left: 300px;
    }
#foto {
    z-index: 1;
    position: absolute;
    margin-top: 75px;
margin-left: 675px; 
height: 250px;
border-radius: 50%;
border-style:solid;
border-color: tomato;


}
h4{bottom:15px 35px;
background-color: lightgoldenrodyellow;
}
#cabecalho{
    
    height: 200px;
    background-color: 
    darkblue;
}
#descricao{
    background-color: rgb(247, 243, 197);
    height: 300px;
    text-align: center;
  
    
}
.nome{
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    margin-left: 600px;
    
}